.adsPage {
  display: flex;
  margin: 20px;
}
.adsPageLeft {
  flex: 6;
  margin: 10px;
}
.adsPageRight {
  flex: 4;
  margin: 10px;
}
.adsPageLeft > img {
  width: 100%;
}
.adsPageLeftMiddleDesc,
.adsPageRighTop {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 15px;
}
.adsPageLeftMiddleDesc:hover,
.adsPageRighTop:hover,
.adsPageRighMiddle:hover,
.adsPageRightBottom:hover {
  border: 2px solid #002f34;
}
.adsPageLeftMiddleDesc > p {
  color: gray;
  margin-bottom: 10px;
}
.adsPageLeftMiddleDesc > h3 {
  color: gray;
  margin-bottom: 10px;
}
.adsPageRighTopPrice {
  display: flex;
  justify-content: space-between;
}
.adsPageRighTopPrice > p {
  color: #002f34;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 8px;
}
.adsPageRighTopIcon > .MuiSvgIcon-root {
  color: #002f34;
  font-size: 34px;
  font-weight: 700;
  margin-left: 10px;
}
.adsPageRighTopDesc {
  display: flex;
  flex-direction: column;
}
.adsPageRighTopDescPlace {
  display: flex;
  justify-content: space-between;
}
.adsPageRighTopDesc > p {
  color: rgba(0, 47, 52, 0.64);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
  word-break: break-word;
}
.adsPageRighTopDescPlace > p {
  color: rgba(0, 47, 52, 0.64);
  font-size: 12px;
}
.adsPageRighMiddle {
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 15px;
}
.adsPageRighMiddleUser {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.adsPageRighMiddleUserInfo {
  align-items: center;
  display: flex;
}
.adsPageRighMiddleUserInfoName > h1 {
  color: #002f34;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding-right: 16px;
  text-transform: capitalize;
}
.adsPageRighMiddleUserInfoName > p {
  font-size: 12px;
  line-height: 18px;
}
.adsPageRighMiddleUserInfo > img {
  height: 68px;
  width: 68px;
}
.adsPageRighMiddle > p {
  color: #002f34;
  font-size: 20px;
  font-weight: 400;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
}
.adsPageRighMiddleBtn > p {
  background-color: #002f34;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  padding: 10px;
}
.adsPageRighMiddleBtn > p:hover {
  background-color: white;
  border: 2px solid #002f34;
  color: black;
}
.adsPageRightBottom {
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 15px;
  padding: 15px;
}
.adsPageRightBottom > img {
  margin-top: 15px;
  width: 100%;
}
.adsPageRightBottom > h6 {
  color: #002f34;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.adsPageRightBottom > p {
  color: rgba(0, 47, 52, 0.64);
  font-size: 12px;
}
