.bodyImageAds1 {
  width: 100%;
}
.bodyImageAds2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.bodyFreshRecommendation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bodyTitle1 {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}
.bodyLastSearch {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5e8e6;
}
.bodyTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
}
@media only screen and (max-width: 767px) {
  .body {
    width: 100%;
  }
  .bodyImageAds2 > img {
    width: 100%;
  }
  .bodyTitle > p {
    font-size: 18px;
  }
  .bodyTitle > a {
    font-size: 16px;
  }
  .bodyTitle1 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .body {
    width: 100%;
  }
  .bodyImageAds2 > img {
    width: 100%;
  }
  .bodyTitle > p {
    font-size: 18px;
  }
  .bodyTitle > a {
    font-size: 16px;
  }
  .bodyTitle1 {
    font-size: 16px;
  }
}
