.footerAds1,
.footerLoadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footerAds2 {
  width: 100%;
}

.footerMiddle {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.footerMiddlePara {
  display: flex;
  flex-direction: column;
  justify-content: ;
}

.footerMiddlePara > a {
  text-decoration: none;
  color: gray;
}

.footerMiddleParaIcons {
  display: flex;
}

.footerMiddleTitle {
  margin-bottom: 15px;
}

.footerMiddleParaIcons > .MuiSvgIcon-root {
  color: #002f34;
  margin-right: 5px;
}

.footerMiddlePara > img {
  margin-top: 30px;
}

.footerMiddlePara > p {
  color: #002f34;
  font-weight: bold;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  background-color: #002f34;
  margin-top: 15px;
}

.footerBottom > a {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin: 15px;
  text-decoration: none;
}
