.freshRecommendation {
  height: 350px;
  width: 290px;
  border: 1px solid lightgray;
  margin: 8px;
}

.freshRecommendation:hover {
  border: 1px solid gray;
}

.freshRecommendationAdsImg {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.freshRecommendationAdsImg > a > img {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.freshRecommendationAdsFooter {
  margin: 15px;
}

.freshRecommendationAdsFooterPrice {
  font-weight: 700;
  font-size: 20px;
}

.freshRecommendationAdsFooterDesc {
  font-weight: 400;
  font-size: 14px;
  color: gray;
}

.freshRecommendationAdsFooterPlace {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
  margin-top: 25px;
}

.freshRecommendationAdsFooterPlace > p {
  text-transform: uppercase;
}

.freshRecommendationAdsImg > .MuiSvgIcon-root {
  position: absolute;
  right: 5px;
  top: -5px;
}

.freshRecommendationAdsFooter{
  position: relative;
}

.freshRecommendationAdsFooter > .MuiSvgIcon-root {
  position: absolute;
  right: 5px;
  top: -5px;
}