.freshRecommendation {
  border: 1px solid lightgray;
  height: 350px;
  margin: 8px;
  width: 290px;
}
.freshRecommendation:hover {
  border: 1px solid gray;
}
.freshRecommendationAdsImg {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}
.freshRecommendationAdsImg > a > img {
  height: 200px;
  object-fit: contain;
  width: 200px;
}
.freshRecommendationAdsFooter {
  margin: 15px;
}
.freshRecommendationAdsFooterPrice {
  font-size: 20px;
  font-weight: 700;
}
.freshRecommendationAdsFooterDesc {
  color: gray;
  font-size: 12px;
  font-weight: 400;
}
.freshRecommendationAdsFooterPlace {
  color: gray;
  display: flex;
  font-size: 8px;
  justify-content: space-between;
  margin-top: 15px;
}
.freshRecommendationAdsFooterPlace > p {
  text-transform: uppercase;
}
.freshRecommendationAdsImg > .MuiSvgIcon-root {
  position: absolute;
  right: 5px;
  top: -5px;
}
.freshRecommendationAdsFooter {
  position: relative;
}
.freshRecommendationAdsFooter > .MuiSvgIcon-root {
  position: absolute;
  right: 5px;
  top: -5px;
}
@media only screen and (max-width: 767px) {
  .freshRecommendation {
    width: 100%;
  }
  .freshRecommendationAdsImg > a > img {
    width: 100%;
  }
  .freshRecommendationAdsFooter > .MuiSvgIcon-root {
    display: none;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .freshRecommendation {
    width: 100%;
  }
  .freshRecommendationAdsImg > a > img {
    width: 100%;
  }
  .freshRecommendationAdsFooter > .MuiSvgIcon-root {
    display: none;
  }
}
